# Spark DataFrame basic operation

### Start Spark Session

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("ops").getOrCreate()


### Import Csv with Spark

In [8]:
data = spark.read.csv("appl_stock.csv",inferSchema=True,header=True)

### Print Schema

In [11]:
data.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

## Filter and selecting a column

In [19]:
data.filter("Close < 500").select(['Open','Close']).show(10)

+------------------+------------------+
|              Open|             Close|
+------------------+------------------+
|        213.429998|        214.009998|
|        214.599998|        214.379993|
|        214.379993|        210.969995|
|            211.75|            210.58|
|        210.299994|211.98000499999998|
|212.79999700000002|210.11000299999998|
|209.18999499999998|        207.720001|
|        207.870005|        210.650002|
|210.11000299999998|            209.43|
|210.92999500000002|            205.93|
+------------------+------------------+
only showing top 10 rows

In [20]:
data.filter( data['Close'] < 500 ).select("Volume").show(5)

+---------+
|   Volume|
+---------+
|123432400|
|150476200|
|138040000|
|119282800|
|111902700|
+---------+
only showing top 5 rows

### Filter with multiple condition

In [21]:
data.filter( ( data['Close'] < 200 ) & ( data['Open'] > 200 ) ).show()

+----------+------------------+----------+----------+----------+---------+------------------+
|      Date|              Open|      High|       Low|     Close|   Volume|         Adj Close|
+----------+------------------+----------+----------+----------+---------+------------------+
|2010-01-22|206.78000600000001|207.499996|    197.16|    197.75|220441900|         25.620401|
|2010-01-28|        204.930004|205.500004|198.699995|199.289995|293375600|25.819922000000002|
|2010-01-29|        201.079996|202.199995|190.250002|192.060003|311488100|         24.883208|
+----------+------------------+----------+----------+----------+---------+------------------+

In [25]:
result = data.filter( data['Low'] == 197.16 ).collect()

In [28]:
result

[Row(Date='2010-01-22', Open=206.78000600000001, High=207.499996, Low=197.16, Close=197.75, Volume=220441900, Adj Close=25.620401)]

## Convert to dict

In [29]:
row = result[0]
row.asDict()['Volume']