# Group by and Aggregate Functions

### Initialize spark session

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("aggregation").getOrCreate()

### Import Data

In [5]:
df = spark.read.csv("sales_info.csv",inferSchema=True,header=True)

### Show first 5 lines

In [8]:
df.show(5)

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
+-------+-------+-----+
only showing top 5 rows

### Print Schema

In [9]:
df.printSchema()

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: double (nullable = true)

## Group Sales by Company

In [11]:
df.groupBy("Company")

This grouped object are saved in memory

## Mean by Sales by company

In [12]:
df.groupBy("Company").mean().show()

+-------+-----------------+
|Company|       avg(Sales)|
+-------+-----------------+
|   APPL|            370.0|
|   GOOG|            220.0|
|     FB|            610.0|
|   MSFT|322.3333333333333|
+-------+-----------------+

## Sales sum by Person

In [15]:
df.groupBy("Person").sum().show()

+-------+----------+
| Person|sum(Sales)|
+-------+----------+
|  Linda|     130.0|
|    Amy|     124.0|
|  Sarah|     350.0|
|Charlie|     120.0|
|  Chris|     350.0|
|   John|     250.0|
|    Sam|     200.0|
|   Carl|     870.0|
|Vanessa|     243.0|
|   Mike|     750.0|
|   Tina|     600.0|
|  Frank|     340.0|
+-------+----------+

In [17]:
df.agg({'Sales':'max'}).show()

+----------+
|max(Sales)|
+----------+
|     870.0|
+----------+

In [18]:
group_data = df.groupBy("Company")

In [20]:
group_data.agg({"Sales":"max"}).show()

+-------+-----------------+
|Company|       avg(Sales)|
+-------+-----------------+
|   APPL|            370.0|
|   GOOG|            220.0|
|     FB|            610.0|
|   MSFT|322.3333333333333|
+-------+-----------------+

In [27]:
from pyspark.sql.functions import countDistinct,avg,stddev,format_number

In [23]:
df.select(avg("Sales").alias("Average_Sales")).show()

+-----------------+
|    Average_Sales|
+-----------------+
|360.5833333333333|
+-----------------+

In [26]:
df.select(stddev("Sales").alias("Std_Dev_Saels")).show()

+------------------+
|     Std_Dev_Saels|
+------------------+
|250.08742410799007|
+------------------+

## Round a number

In [36]:
sales_std = df.select(stddev("Sales").alias("sales_std"))
sales_std.select(format_number('sales_std',2).alias("std")).show()

+------+
|   std|
+------+
|250.09|
+------+

## Order Ascending

In [34]:
df.orderBy("Sales").show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|Charlie|120.0|
|   MSFT|    Amy|124.0|
|   APPL|  Linda|130.0|
|   GOOG|    Sam|200.0|
|   MSFT|Vanessa|243.0|
|   APPL|   John|250.0|
|   GOOG|  Frank|340.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   MSFT|   Tina|600.0|
|   APPL|   Mike|750.0|
|     FB|   Carl|870.0|
+-------+-------+-----+

## Order Descending

In [35]:
df.orderBy(df['Sales'].desc()).show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|     FB|   Carl|870.0|
|   APPL|   Mike|750.0|
|   MSFT|   Tina|600.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   GOOG|  Frank|340.0|
|   APPL|   John|250.0|
|   MSFT|Vanessa|243.0|
|   GOOG|    Sam|200.0|
|   APPL|  Linda|130.0|
|   MSFT|    Amy|124.0|
|   GOOG|Charlie|120.0|
+-------+-------+-----+