## Spark Initialization

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructField,StringType,IntegerType,StructType

## Inititalization of Spark Session

In [2]:
spark = SparkSession.builder.appName("Basics").getOrCreate()

## Import DataSet with Spark

In [3]:
data = spark.read.json('people.json' )

## Print Schema

In [4]:
data.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

As we can see the variables aren't as we want, for example age  must be a numerical and is long, so if we want to clarify it for other pearson we can use the Struct Field to do this

## Create schema Struct

In [10]:
dataschema = [StructField('age',IntegerType(),True) , StructField('name' , StringType() , True) ]
final_struct = StructType(fields=dataschema)

In [11]:
final_struct = StructType(fields=dataschema)

## Read file with defined schema

In [12]:
data = spark.read.json( 'people.json' , schema =  final_struct )

## Print Schema Again

In [13]:
data.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

## The return from each function

In [24]:
print(type(data['age']))

print(type(data.select("age")))

print(type(data.head(2)[0]))

<class 'pyspark.sql.column.Column'>
<class 'pyspark.sql.dataframe.DataFrame'>
<class 'pyspark.sql.types.Row'>

## Print de dataframe

In [26]:
data.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

## Create new column

In [29]:
data.withColumn("double_age",data['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

## Change column name

In [32]:
data.withColumnRenamed("age","new_age").show()

+-------+-------+
|new_age|   name|
+-------+-------+
|   null|Michael|
|     30|   Andy|
|     19| Justin|
+-------+-------+

# Create a TempView and applying sql query

In [33]:
data.createOrReplaceTempView(' people ')

## Save Temple view in a new object

In [35]:
results = spark.sql(" SELECT * FROM people where ")

In [41]:
new_results = spark.sql("SELECT * FROM people WHERE age = 30")
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+